/* Reset some default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #444;
}

/* Set the page background and text color */
body {
    background-color: #f8f8f8;
    color: #333;
}

/* Style the page header */
h1 {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: darkred;
    color: #fff;
}

/* Style the email container to take up most of the screen */
#email-container {
    height: 75vh;
    width: 80vw;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Style the iframe to make it larger */
iframe {
    height: 100%;
    width: 100%;
    border: none;
}

/* Style the next button */
button {
    display: block;
    margin: 1rem auto;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: darkred;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Style the radio buttons */
label {
    display: block;
    padding-top: 20px;
    cursor: pointer;
    margin-left: 10vw;
}

/* Media query to adjust layout on small screens */
@media (max-width: 768px) {
    #email-container {
        height: 60vh;
    }

    button {
        margin-top: 2rem;
    }
}