body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

input[type=checkbox] {
    margin-bottom: 10px;
    margin-right: 10px;
}

button[type=submit] {
    background-color: darkred;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}

#result {
    font-size: 20px;
    margin-top: 20px;
}

iframe {
    height: 100%;
    width: 100%;

}